body {
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  position: relative;
}

.active, a:hover{
  color: black !important;
}

.btn:hover{
  color: white !important;
}

.scrolled{
  background-color: white !important;
  box-shadow: 0 1px 5px grey !important;
  transition: all 0.2s;
}

.not-scrolled{
  background-color: transparent;
  transition: all 0.5s;
}

svg text{
  opacity: 0;
}

.shadow{
  box-shadow: 0.5px 0.5px 5px #d3d3d3;
}

.fc h2{
  font-size: 1.5rem;
}

.anchor{
  margin-top: -130px !important;
  padding-top: 130px !important;
}
