
RewriteEngine on
RewriteCond %{HTTP_HOST} ^mesahacks\.cscmesa\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.mesahacks\.cscmesa\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/www\.cscmesa\.com" [R=301,L]

